:root{
    --primery-text-style: "Roboto", sans-serif;
    --secontary-text-style: "Raleway",sans-serif;
    --logo-heder-color: #000000;
    --logo-accent-color:#2196F3;
    --second-accent-color:#188CE8;
    --first-main-color: #212121;
    --secondary-main-color: #757575;
   --background-hero-color: #2F303A;
   --hero-text-color:#ffffff;
   --address-text-color:rgba(255, 255, 255, 0.6);
   --background-our-team:#F5F4FA;
   
}

body{
    font-family: var(--primery-text-style);
    color: var(--first-main-color);
    letter-spacing: 0.03em;
    font-size: 14px;
    
}
h1, h2, h3, h4, h5, h6, p {
margin-top: 0;
margin-bottom: 0;

}

ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img{
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}
.list {
    text-decoration: none;
    list-style: none;
    
}
.container{
padding-left: 15px;
padding-right: 15px;
width: 1200px;
margin-left: auto;
margin-right: auto;
}

.nav-container{
display: flex;  
align-items: center;

}  


.heder-logo {
    

    margin-right: 93px;
   font-family: var(--secontary-text-style); 
   color: var(--logo-heder-color);

   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;

   display: flex;
}
.span-logo {
    color: var(--logo-accent-color);
}

.nav-list:not(:last-child){

    margin-right: 50px;
    align-items: center;
    
    
} 

.main-nav{
    display: flex;
    align-items: center;
   
}
.nav-header{
   
    padding-left: 0;
    margin-top: 25px;
    margin-bottom: 25px;
    align-items: center;
    display: flex;
   
}

.nav-link{
    color: var(--first-main-color);
    font-family: var(--primery-text-style);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.current{
    color: var(--logo-accent-color);
}
.contact{
    color: var(--secondary-main-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

}
.contacts{
    padding-right: 10px;
    margin-left: auto;
}
.contacts-list{
    margin-left: auto;
}

.nav-link:hover,
.nav-link:focus{
    color: var(--logo-accent-color); 
}
.contact:hover,
.contact:focus{
    color: var(--logo-accent-color);
}
.hero{
    width: 670px;
    margin-left: auto;
    margin-right: auto;
    color:var(--hero-text-color);
    text-transform: uppercase;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}
.hero-title{
    
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: var(--background-hero-color);
}
.button-hero{
    min-width: 216px;
    margin-top: 30px;
    padding: 10px 32px;
    color: var(--hero-text-color) ;
    background-color: var(--logo-accent-color);
    cursor: pointer;
    border: none;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
}
.button-hero:hover,
.button-hero:focus {
    background-color: var(--second-accent-color);
}
.hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px ;
}


.list-items{
    display: flex;
    margin-top: 94px;
    margin-bottom: 118px;
    outline: 2px solid #188CE8;
}

.list-title {
    justify-content: space-between;
    margin-bottom: 10px;
    text-transform: uppercase;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    outline: 2px solid #188CE8;
}



.job-list{
    margin-right: 30px;

    width: 270px;
}
.list-paragraf{
   
    color: var(--secondary-main-color);

   
    line-height: 1.7;

}
.work-list-team{
    background-color: var(--background-our-team);
   
}
.our-work{
    padding-bottom: 94px;
    outline: 2px solid #188CE8;
}
.work{
 padding-top: 94px; 
 padding-bottom: 50px;  
text-align: center;


font-weight: 700;
font-size: 36px;
line-height: 1.16;
}
.work-list{
    display: flex;
 
}

.card-work:not(:nth-child(3n)){
margin-right: 30px;

    
}

    
        
    
.work-team{
    display: flex;
    
}
.our-team{
    margin-top: 50px;
    margin-left: 30px;
}
.our-team-card{
   
    outline: 2px solid #188CE8;
   padding-bottom: 94px;}
    

.our-team-list:not(:nth-child(4n)){
    margin-right: 30px;

}

.our-team-list{
   
 
    text-align: center;
}
.team-titel{
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.12;
}
.team-profession{
   
    margin-top: 10px;
    color: var(--secondary-main-color);

    font-size: 16px;
    line-height: 1.18;

}
.contact-address{
    margin-top: 94px;
    padding-top: 60px;
    padding-bottom: 60px;
} 
.address{
    background-color: var(--background-hero-color);
    
}
.address-logo{
    display: flex;

padding-bottom: 20px;
font-family: var(--secontary-text-style);
    color: var(--hero-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.03em;

}
.address-map{
    color: var(--hero-text-color);
    font-family: var(--primery-text-style);
    font-style: normal;

    line-height: 1.7;
    letter-spacing: 0.03em;
}
.address-map:hover,
.address-map:focus{
    color: var(--logo-accent-color);
}
.address-contact{
margin-bottom: 9px;

    color: var(--address-text-color);
    font-family: var(--primery-text-style);
    font-style: normal;

    line-height: 1.7;
    letter-spacing: 0.03em;
}
.address-contact:hover,
.address-contact:focus{
    color: var(--logo-accent-color);
}

.buttons-item{
    display: flex;
    flex-wrap: wrap;
 
}
   

.buttons{
    padding-top: 94px;
    padding-bottom: 94px;
  
}

.button-list{
    
margin-left:9px;


padding: 6px 22px;

    font-family: var(--primery-text-style);
    color: var(--first-main-color);
    background-color: var(--background-our-team);
    cursor: pointer;
    border: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}
.button-list:hover,
.button-list:focus{
    color:var(--hero-text-color) ;
    background-color: var(--logo-accent-color);  
}
.project-card:not(:nth-child(3n)){
    
    margin-right: 30px;
}


.project-card{
margin-top: 30px;

}
.projects{
    
   
display: flex;
flex-wrap: wrap;
}
.project-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project-item{
    color: var(--secondary-main-color);

    font-size: 16px;
    line-height: 1.87;
}